  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <p>Admin</p>
      
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <a href="/account" class="d-block">
        <div class="image">
          <img src="assets/images/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
       </a>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
                
              </p>
            </a>
          </li>



          <li class="nav-item">
            <a href="/sports_interest" class="nav-link">
              <i class="nav-icon fas fa-biking"></i>
              <p>
                Sports Interest
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/pictures" class="nav-link">
              <i class="nav-icon fas fa-image"></i>
              <p>
                Pictures
                
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="/courts" class="nav-link">
              <i class="nav-icon fas fa-gavel"></i>
              <p>
                Courts
                
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="/clubs" class="nav-link">
              <i class="nav-icon fas fa-chess"></i>
              <p>
                Clubs
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Logout
                
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
           
            
          
            
       
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
